*,
*::after,
*::before{
    box-sizing: border-box;
    --primary: #ff4532;
    --secondary: #d3d1d1;
    --default: #fff;
    --border: #b6b3b3;
    --dark: #212121;
    margin: 0;
    padding: 0;
    /* Fonts */
    --rowdies: 'Rowdies', cursive;
    --space-grotesk: 'Space Grotesk', sans-serif;
    --gap: 1rem;
}
div,
button,
h1,h2,h3,h4,h5,h6,
span,p{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
    object-fit: cover;
    display: block;
}
input, 
select,  
textarea{
    width: 80%;
    margin: 0.5rem auto;
    font-family: var(--space-grotesk);
    padding: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    /* background-color: var(--primary); */
    color: var(--dark);
    text-transform: uppercase;
    resize: none;
}
button{
    width: 50%;
    margin: 0.5rem auto;
    font-family: var(--space-grotesk);
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}
.divButton{
    width: 50%;
    text-align: center;
}

a{
    color: var(--default);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
a:active{
    border-bottom: solid var(--dark);
}
body *{
    /* border: solid red; */
}
body{ 
    font-family: var(--space-grotesk);
    width: 100%;
    color: var(--default);
    background-color: var(--dark);
    line-height: 2;
    overflow-x: hidden;
    word-wrap: break-word;
    
}
header{
    z-index: 999;
    background-color: var(--primary);
}
nav{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-inline: 2rem;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
    
}


/* Main Contents */
.main{
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
    height: 90vh;
    background-color: var(--border);
    display: flex;
    flex-direction: column;
}
#control{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main > div{
    flex: 1;
}
.meme{
    position: relative;
}
.Text{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        5px 2px 5px #000;
}
.topText{
    top: 0;
}
.bottomText{
    bottom: 0;
}
.memeImage{
    height: 500px;
}
img {
    margin: auto;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
footer{
    text-align: center;
}

@media only screen and (max-width: 800px){
    .main{
        width: 95%;
    }
    input{
        font-size: 16px;
        padding: 1rem;
        border-radius: 0.3rem;
        width: 100%;
    }
    .divButton{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    button{
        width: 70%;
        padding: 0.5rem
    }
    .Text{
        width: 90%;
        font-size: 1.4rem;
        text-shadow:
            1px 5px 1px #000;
    }
    .memeImage{
        height: 400px;
    }
}